/*this is search bar stuff*/
.SearchBar{

    overflow: hidden;
    background-color: #7851A9
  
}

/*this deals with the links*/
.SearchBar a{

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 27px;
    text-decoration: none;
    font-size: 23px;
  
}

/*hover whenever there is a mouse over the link*/
.SearchBar a:hover{

    background-color:#FFD700;
    color: #143306;
    
}
/*when your on that page*/
.topnav a.active{

    background-color: #FF11C4;
    color: #FF113D;
    
}

.postButton{

    display:contents;/*no border or what not and no bars*/
    position:relative;
    left: 50px;
    top: -750px;
    border-radius:75%;/*noice if this works*/
    background-color: #cfa0db;
    padding: 20px;
    
    
}

.postButton:hover + .paws{/*goated I need some docs on CSS*/

    background-color:d3d3d3;opacity:0.4;/*think this is just backgrond color*/
    padding:2px;
    border-radius: 25%;/************************************************************************/
    
}

.paw{

    background-color:#ffff11
    border-radius:80%;
    display:fixed-right;
    padding:5px;
    
}

.print{

    /*This is something*/
    
}


/*No bap shouts out to docs and tutorials*/
/*who knew this was an option*/
@media screen and (max-width: 600px){
    .topnav a,.topnav input[type=text]{
        float:none;
        dispaly:block;
        text-align: left;
        width:100%;
        margin:0;
        padding:14px;
    }
    .topnav input[type=text]{
        border:1px solid #FFFF11;
    }
}
